@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form id="AddRecord" action="/Home/Add" method="post">
    列1:<input id="column1" name="column1" type="text" />
    列2:<input id="column2" name="column2" type="text" />
    <input type="submit" value="提交" />

</form>